h1 Processes
table.table.table-bordered.table-condensed
  thead
    tr 
      th Command
      th Runnning
      th PID

  each process, name in processes
    tr
      td: a(href="/processes/#{name}")= name
      td= process.child.running ? 'Yes' : 'No'
      td= process.getPid()

- if (hasService)
  h1 Services
  table.table.table-bordered.table-condensed
    thead
      tr
        th Service
        th Actions
        th Status
    each service, name in services
      tr
        td: a(href="/services/#{name}")= name
        td(style="padding: 0")
          table(width="100%")
            each action, i in service.actions
              tr
                td(width="50%"): a(href="/services/#{name}/actions/#{i}")= action.id
                td.sparkline= action.times(50).join(',')
        td= service.up ? 'Up' : 'Down'
script
  $(function () { $('.sparkline').sparkline() });
