h1.name= service.name

include _period_tab


if service.actions.length
  table.table.table-bordered
    thead
      tr
        th id
        th Avg Resp
        th Uptime
        th Status
        th 
    each action, i in service.actions
      tr(id="action" + i)
        td: a(href="/services/#{service.name}/actions/#{action.name}")= action.name
        td.avgTime= action.averageTime() + 'ms'
        td.uptime= percentage(action.meta.uptime(), action.meta.uptime() + action.meta.downtime())
        td.is-up
          = action.isUp() ? 'Up' : 'Down'
        td
          div.sparkline

  #chart(style="height: 200px")

.metrics 
  each metric in service.metrics
    h3= metric.name
    .metric(style="height: 200px")
      

script
  var url   = "/services/#{service.name}.json?period=#{period}";
  var chart = null;
  var data = null;
  var headers = [];
  var period = "#{period}";
  var metricCharts = null;


  $(function () { 
    getData();
    setInterval(getData, 2000);
  });

  function getData() {
    $.get(url, function (data) { 
      var actions = data.actions;
      for (var i=0; i<actions.length; i++) {
        populateAction(i, actions[i]);
      }

      buildChart(actions);
      buildMetrics(data.metrics);
    });
  }

  function buildMetrics(metrics) {
    if (!loaded) return;
    if (!metricCharts) {
      metricCharts = [];
      var eles = $('.metric');
      for (var i=0; i<metrics.length; i++) {
        metricCharts.push(new google.visualization.LineChart(eles[i]));
      }
    }

    for (var i=0; i<metrics.length; i++) {
      var metric = metrics[i];
      var series = metric.series;

      metricCharts[i].draw(google.visualization.arrayToDataTable(metric.series), {
        interpolateNulls: period == 'min',
        hAxis: { title: "Past " + period, showTextEvery: 1 },
        vAxis: { title: metric.unit }
      })
    }
  }

  function populateAction(idx, data) {
    var $action = $('#action' + idx);
    $action.find('.avgTime').html(data.avgTime);
    $action.find('.is-up').html(data.up ? 'Up' : 'Down');
    $action.find('.sparkline').sparkline(data.series);

    var totalTime = data.uptime + data.downtime;
    var time = percentage(data.uptime, totalTime);

    $action.find('.uptime').html(time);
  }

  function buildChart(actions) { 
    if (!loaded) return;
    if (actions.length == 0) return;
    if (!chart) chart = new google.visualization.LineChart($('#chart')[0]);

    var header = [ period + ' Ago'];
    var array = [ header ];
    for (var i=0; i<actions.length; i++) {
      var action = actions[i];
      header.push(action.name);
      for (var j=0; j<action.series.length; j++) {
        var col = action.series[j];
        var row = array[j+1] = array[j+1] || [ calculatePeriod(j, period) ];
        row.push(col);
      }
    }

    chart.draw(google.visualization.arrayToDataTable(array), { 
      vAxis: { title: "Milliseconds" },
      hAxis: { title: "Past " + period, showTextEvery: 1 },
      interpolateNulls: period == 'min'
    });
  }
