h1.name= service.name

table.table.table-bordered
  thead
    tr
      th id
      th Avg Resp
      th Uptime
      th Status
      th 
  each action, i in service.actions
    tr
      td: a(href="/services/#{service.name}/actions/#{i}")= action.id
      td= action.averageTime() + 'ms'
      td= percentage(action.meta.upTime, action.meta.upTime + action.meta.downTime)
      td
        = action.isUp() ? 'Up' : 'Down'
      td
        div(id="action#{i}", name=action.id)

#chart

script
  var chart = null;

  $(function () { 
    buildChart();
    setInterval(getData, 2000);
  });

  function getData() {
    $.get(location.href + '/actions.json', function (data) { 
      for (var i=0; i<data.length; i++) {
        $('#action' + i).sparkline(data[i]);
        var points = data[i];
        var line = chart.series[i];
        line.setData(points, false);
      }
      chart.redraw();
    });
  }

  function buildChart() {
    var count = #{service.actions.length};
    var series = [];
    for (var i=0; i<count; i++) {
      series.push({ name: $('#action' + i).attr('name'), data: [] });
    }

    chart = new Highcharts.Chart({
      chart: { 
        renderTo: 'chart',
        type: 'line' 
      }, 

      title: { text: $('h1.name').text() },

      plotOptions: {
        pointInterval: 2000
      },

      series: series
    });
  }
