
h3 Services
table.table.table-condensed.table-bordered
  tr.success
    th Service
    th Sensor
    th Status
    th Pass/Total
    th Last Pass
    th Last Failure
  - var i = 0;
  each service, name in server.services
    - var sname = name;
    if i++ > 0
      tr: td(colspan=5) &nbsp;
    tr(class=service.isHealthy ? 'success' : 'error')
      td(colspan=6)
        a(href="/services/#{sname}?time=min")
          != sname + ' (' + health(service.isHealthy) + ')'
    each sensor, name in service.sensors
      tr
        td
        td(style="padding-left: 20px"): a(href="/services/#{sname}/sensors/#{name}?time=min")= name
        td!= health(sensor.isHealthy)
        td #{sensor.passCount}/#{sensor.totalCount}
        td= humanTime(sensor.lastPass);
        td= humanTime(sensor.lastFail);
