table.table.table-condensed.table-bordered
  tr.success
    th Service
    th Sensor
    th Status
    th Pass/Total
    th Last Pass
    th Last Failure
  - var i = 0;
  each service, name in server.services
    - var sname = name;
    - var sensorCount = 0; for (var k in service.sensors) sensorCount++;
    - var first = true;
    each sensor, name in service.sensors
      tr
        if first
          td.service(rowspan=sensorCount)
            a(href="/services/#{sname}?time=min")
              != sname + ' (' + health(service.isHealthy) + ')'
          - first = false

        td(style="padding-left: 20px"): a(href="/services/#{sname}/sensors/#{name}?time=min")= name
        td
          != health(sensor.isHealthy)
          span.inlinesparkline= sensor.getAvgResponse('hour').join(',');
        td #{sensor.passCount}/#{sensor.totalCount}
        td= htime.humanizeAgo(sensor.lastPass);
        td= htime.humanizeAgo(sensor.lastFail);

:mochi
  $(function() {
    $('.inlinesparkline').sparkline();
  });
