.btn-group
  button.btn.btn-mini= name
  .btn.btn-mini.dropdown-toggle(data-toggle="dropdown")
    span.caret
  ul.dropdown-menu
    li: a(href="#{url}/min") Minute
    li: a(href="#{url}/hour") Hour
    li: a(href="#{url}/day") Day
    li: a(href="#{url}/week") Week
