extends layout

block content
  table.table.table-condensed.table-bordered(style="background-color: #333")
    tr.success
      th Service
      th Status
      th Pass/Total
      th Last Pass
      th Last Failure
    - var i = 0;
    each service, sname in services
      if i++ > 0
        tr: td(colspan=5) &nbsp;
      tr
        td: a(href="/services/#{sname}")= sname
        td!= health(service.isHealthy)
        td
        td
        td
      each sensor, name in service.sensors
        tr
          td(style="padding-left: 20px"): a(href="/services/#{sname}/sensors/#{name}")= name
          td!= health(sensor.isHealthy)
          td #{sensor.passCount}/#{sensor.totalCount}
          td= sensor.lastPass 
          td= sensor.lastFail 
