h1 Benchmarking #{action.id}

table.bordered-table.zebra-striped
  tr
    th Total Number of Reqs
    td #{count}
  tr
    th Total Time Taken
    td #{totalTime}ms
  tr
    th Avg Time
    td #{avgTime}ms
  tr
    th Total Number of Errors
    td #{errors}
