extends layout

block content
  table.table
    each service, serviceName in server.services
      tr: td: a(href="/services/#{serviceName}", style="color:#{color(service)}")= serviceName
      each sensor, sensorName in service.sensors
        tr: td: a(href="/services/#{serviceName}/sensors/#{sensorName}", style="color:#{color(sensor)}")= sensorName
  #canvas
  button.btn Hello
  :mochi
    $(#{ 
      var svg = d3.select('#canvas')
                  .append('svg')
                  .attr('width', 500)
                  .attr('height', 500);

      var hc = healthCircle(svg); 
      setInterval(#{ hc(false, Math.random() * 200) }, 1000);
    });
