extends layout

block content
  each service, serviceName in server.services
    h3= serviceName
    table.table: each sensor, sensorName in service.sensors
      tr 
        td: a(href="/services/#{serviceName}/sensors/#{sensorName}", style="color:#{color(sensor)}")= sensorName
        td: .canvas(data-name="#{serviceName}/#{sensorName}")


  :mochi
    var svgs = {};

    $(#{ 
      $('.canvas').each(#{
        var name = $(this).data('name');
        var svg = d3.select(this)
          .append('svg')
          .attr('height', 300)
          .attr('width', 300);

        var circle = svg.append('svg:circle')
          .attr('r', 50)
          .attr('fill', 'green')
          .attr('cx', 50)
          .attr('cy', 50);

        svgs[name] = circle;
      });

      setInterval(getData, 5000);
      getData();
    });

    function getData() {
      $.get('/status.json', #(data) {
        for (var name in data) {
          var service = data[name];
          for (var sname in service) {
            var key = name + '/' + sname;
            animate(svgs[key], service[sname]);
          }
        }
      });
    }

    function animate(svg, data) {
      svg
        .attr('r', 0)
        .transition()
          .duration(1000)
          .attr('fill', 'green')
          .attr('r', 10);
    }


